<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Odis.Client.ServerApi.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="Odis.AppService.Common.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <!--<system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Verbose,ActivityTracing" propagateActivity="true">
        <listeners>
          <add name="ServiceModelTraceListener">
            <filter type="" />
          </add>
        </listeners>
      </source>
      <source name="System.ServiceModel.MessageLogging">
        <listeners>
          <add name="ServiceModelMessageLoggingListener">
            <filter type="" />
          </add>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add initializeData="ApiDemoTracelog.svclog" type="System.Diagnostics.XmlWriterTraceListener, System,        Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" name="ServiceModelTraceListener" traceOutputOptions="Timestamp">
        <filter type="" />
      </add>
      <add initializeData="ApiDemoMessages.svclog" type="System.Diagnostics.XmlWriterTraceListener, System,        Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" name="ServiceModelMessageLoggingListener" traceOutputOptions="Timestamp">
        <filter type="" />
      </add>
    </sharedListeners>
    <trace autoflush="true" />
  </system.diagnostics>-->
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.serviceModel>
    <diagnostics>
      <messageLogging logEntireMessage="true" logKnownPii="true" logMalformedMessages="true" logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="true" />
      <endToEndTracing propagateActivity="true" activityTracing="true" messageFlowTracing="true" />
    </diagnostics>
    <!--<behaviors>
      <endpointBehaviors>
        <behavior name="EndpointBehavior">
           <CultureExtension />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <extensions>
      <behaviorExtensions>
        <add name="CultureExtension" type="Odis.Client.ServerApi.CultureBehaviorExtension, Odis.Client.ServerApi, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      </behaviorExtensions>
    </extensions>-->
    <bindings>
      <netTcpBinding>
        <binding name="OdisWcfService_Tcp" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:30:00" sendTimeout="00:30:00" transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions" hostNameComparisonMode="StrongWildcard" listenBacklog="10" maxBufferPoolSize="524288" maxBufferSize="2147483647" maxConnections="10" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32" maxStringContentLength="1048576" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="2147483647" />
          <reliableSession ordered="true" inactivityTimeout="00:30:00" enabled="false" />
          <security mode="Transport">
            <transport clientCredentialType="Windows" protectionLevel="EncryptAndSign" />
            <message clientCredentialType="Windows" />
          </security>
        </binding>
      </netTcpBinding>
      <wsHttpBinding>
        <binding name="OdisWcfService_WsHttp" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:30:00" sendTimeout="00:30:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="32" maxStringContentLength="1048576" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="2147483647" />
          <reliableSession ordered="true" inactivityTimeout="00:30:00" enabled="false" />
          <security mode="Message">
            <transport clientCredentialType="Windows" proxyCredentialType="None" realm="" />
            <message clientCredentialType="Windows" negotiateServiceCredential="true" algorithmSuite="Default" establishSecurityContext="true" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://de-svr-v064:9000/OdisSystemService" binding="netTcpBinding" bindingConfiguration="OdisWcfService_Tcp" contract="OdisSystemWcfService.IOdisSystemService" name="OdisSystemService_Tcp">
        <!--<identity>
          <servicePrincipalName value="MYSERVICE/MyMachine"/>
        </identity>-->
        <identity>
          <userPrincipalName value="ODG\odis.service@odg.local" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://de-svr-v064:9000/OdisMasterDataService" binding="netTcpBinding" bindingConfiguration="OdisWcfService_Tcp" contract="OdisMasterDataWcfService.IOdisMasterDataService" name="OdisMasterDataService_Tcp">
        <identity>
          <userPrincipalName value="ODG\odis.service@odg.local" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://de-svr-v064:9000/OdisAddressService" binding="netTcpBinding" bindingConfiguration="OdisWcfService_Tcp" contract="OdisAddressWcfService.IOdisAddressService" name="OdisAddressService_Tcp">
        <identity>
          <userPrincipalName value="ODG\odis.service@odg.local" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://de-svr-v064:9000/OdisAnnotationService" binding="netTcpBinding" bindingConfiguration="OdisWcfService_Tcp" contract="OdisAnnotationWcfService.IOdisAnnotationService" name="OdisAnnotationService_Tcp">
        <identity>
          <userPrincipalName value="ODG\odis.service@odg.local" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://de-svr-v064:9000/OdisPresentationService" binding="netTcpBinding" bindingConfiguration="OdisWcfService_Tcp" contract="OdisPresentationWcfService.IOdisPresentationService" name="OdisPresentationService_Tcp">
        <identity>
          <userPrincipalName value="ODG\odis.service@odg.local" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://de-svr-v064:9000/OdisTravelService" binding="netTcpBinding" bindingConfiguration="OdisWcfService_Tcp" contract="OdisTravelWcfService.IOdisTravelService" name="OdisTravelService_Tcp">
        <identity>
          <userPrincipalName value="ODG\odis.service@odg.local" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://de-svr-v064:9000/OdisActivityService" binding="netTcpBinding" bindingConfiguration="OdisWcfService_Tcp" contract="OdisActivityWcfService.IOdisActivityService" name="OdisActivityService_Tcp">
        <identity>
          <userPrincipalName value="ODG\odis.service@odg.local" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://de-svr-v064:9000/OdisSaleService" binding="netTcpBinding" bindingConfiguration="OdisWcfService_Tcp" contract="OdisSaleWcfService.IOdisSaleService" name="OdisSaleService_Tcp">
        <identity>
          <userPrincipalName value="ODG\odis.service@odg.local" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://de-svr-v064:9000/GoodisService" binding="netTcpBinding" bindingConfiguration="OdisWcfService_Tcp" contract="GoodisWcfService.IGoodisService" name="GoodisService_Tcp">
        <identity>
          <userPrincipalName value="ODG\odis.service@odg.local" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://de-svr-v064:9000/OdisExportService" binding="netTcpBinding" bindingConfiguration="OdisWcfService_Tcp" contract="OdisExportWcfService.IOdisExportService" name="OdisExportService_Tcp">
        <identity>
          <userPrincipalName value="ODG\odis.service@odg.local" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://de-svr-v064:19000/OdisAdminService" binding="netTcpBinding" bindingConfiguration="OdisWcfService_Tcp" contract="OdisAdminWcfService.IOdisAdminService" name="OdisAdminService_Tcp">
        <identity>
          <userPrincipalName value="ODG\odis.service@odg.local" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://de-svr-v064:19000/OdisDiamantService" binding="netTcpBinding" bindingConfiguration="OdisWcfService_Tcp" contract="OdisDiamantWcfService.IOdisDiamantService" name="OdisDiamantService_Tcp">
        <identity>
          <userPrincipalName value="ODG\odis.service@odg.local" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://de-svr-v064:9000/OdisBookingService" binding="netTcpBinding" bindingConfiguration="OdisWcfService_Tcp" contract="OdisBookingWcfService.IOdisBookingService" name="OdisBookingService_Tcp">
        <identity>
          <userPrincipalName value="ODG\odis.service@odg.local" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://de-svr-v064:19000/OdisManagementService" binding="netTcpBinding" bindingConfiguration="OdisWcfService_Tcp" contract="OdisManagementWcfService.IOdisManagementService" name="OdisManagementService_Tcp">
        <identity>
          <userPrincipalName value="ODG\odis.service@odg.local" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:19000/OdisImportService" binding="netTcpBinding" bindingConfiguration="OdisWcfService_Tcp" contract="OdisImportWcfService.IOdisImportService" name="OdisImportService_Tcp">
        <identity>
          <userPrincipalName value="ODG\odis.service@odg.local" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:19000/OdisDonationService" binding="netTcpBinding" bindingConfiguration="OdisWcfService_Tcp" contract="OdisDonationWcfService.IOdisDonationService" name="OdisDonationService_Tcp">
        <identity>
          <userPrincipalName value="ODG\odis.service@odg.local" />
        </identity>
      </endpoint>
      <endpoint address="http://de-svr-v064:8090/OdisSystemService" binding="wsHttpBinding" bindingConfiguration="OdisWcfService_WsHttp" contract="OdisSystemWcfService.IOdisSystemService" name="OdisSystemService_WsHttp">
        <!--<identity>
          <dns value="odis" />
        </identity>-->
      </endpoint>
      <endpoint address="http://de-svr-v064:8090/OdisMasterDataService" binding="wsHttpBinding" bindingConfiguration="OdisWcfService_WsHttp" contract="OdisMasterDataWcfService.IOdisMasterDataService" name="OdisMasterDataService_WsHttp">
        <identity>
          <userPrincipalName value="ODG\odis.service@odg.local" />
        </identity>
      </endpoint>
      <endpoint address="http://de-svr-v064:8090/OdisAddressService" binding="wsHttpBinding" bindingConfiguration="OdisWcfService_WsHttp" contract="OdisAddressWcfService.IOdisAddressService" name="OdisAddressService_WsHttp">
        <identity>
          <userPrincipalName value="ODG\odis.service@odg.local" />
        </identity>
      </endpoint>
      <endpoint address="http://de-svr-v064:8090/OdisAnnotationService" binding="wsHttpBinding" bindingConfiguration="OdisWcfService_WsHttp" contract="OdisAnnotationWcfService.IOdisAnnotationService" name="OdisAnnotationService_WsHttp">
        <identity>
          <userPrincipalName value="ODG\odis.service@odg.local" />
        </identity>
      </endpoint>
      <endpoint address="http://de-svr-v064:8090/OdisPresentationService" binding="wsHttpBinding" bindingConfiguration="OdisWcfService_WsHttp" contract="OdisPresentationWcfService.IOdisPresentationService" name="OdisPresentationService_WsHttp">
        <identity>
          <userPrincipalName value="ODG\odis.service@odg.local" />
        </identity>
      </endpoint>
      <endpoint address="http://de-svr-v064:8090/OdisTravelService" binding="wsHttpBinding" bindingConfiguration="OdisWcfService_WsHttp" contract="OdisTravelWcfService.IOdisTravelService" name="OdisTravelService_WsHttp">
        <identity>
          <userPrincipalName value="ODG\odis.service@odg.local" />
        </identity>
      </endpoint>
      <endpoint address="http://de-svr-v064:8090/OdisActivityService" binding="wsHttpBinding" bindingConfiguration="OdisWcfService_WsHttp" contract="OdisActivityWcfService.IOdisActivityService" name="OdisActivityService_WsHttp">
        <identity>
          <userPrincipalName value="ODG\odis.service@odg.local" />
        </identity>
      </endpoint>
      <endpoint address="http://de-svr-v064:8090/OdisSaleService" binding="wsHttpBinding" bindingConfiguration="OdisWcfService_WsHttp" contract="OdisSaleWcfService.IOdisSaleService" name="OdisSaleService_WsHttp">
        <identity>
          <userPrincipalName value="ODG\odis.service@odg.local" />
        </identity>
      </endpoint>
      <endpoint address="http://de-svr-v064:8090/GoodisService" binding="wsHttpBinding" bindingConfiguration="OdisWcfService_WsHttp" contract="GoodisWcfService.IGoodisService" name="GoodisService_WsHttp">
        <identity>
          <userPrincipalName value="ODG\odis.service@odg.local" />
        </identity>
      </endpoint>
      <endpoint address="http://de-svr-v064:8090/OdisExportService" binding="wsHttpBinding" bindingConfiguration="OdisWcfService_WsHttp" contract="OdisExportWcfService.IOdisExportService" name="OdisExportService_WsHttp">
        <identity>
          <userPrincipalName value="ODG\odis.service@odg.local" />
        </identity>
      </endpoint>
      <endpoint address="http://de-svr-v064:18090/OdisAdminService" binding="wsHttpBinding" bindingConfiguration="OdisWcfService_WsHttp" contract="OdisAdminWcfService.IOdisAdminService" name="OdisAdminService_WsHttp">
        <identity>
          <userPrincipalName value="ODG\odis.service@odg.local" />
        </identity>
      </endpoint>
      <endpoint address="http://de-svr-v064:18090/OdisDiamantService" binding="wsHttpBinding" bindingConfiguration="OdisWcfService_WsHttp" contract="OdisDiamantWcfService.IOdisDiamantService" name="OdisDiamantService_WsHttp">
        <identity>
          <userPrincipalName value="ODG\odis.service@odg.local" />
        </identity>
      </endpoint>
      <endpoint address="http://de-svr-v064:8090/OdisBookingService" binding="wsHttpBinding" bindingConfiguration="OdisWcfService_WsHttp" contract="OdisBookingWcfService.IOdisBookingService" name="OdisBookingService_WsHttp">
        <identity>
          <userPrincipalName value="ODG\odis.service@odg.local" />
        </identity>
      </endpoint>
      <endpoint address="http://de-svr-v064:18090/OdisManagementService" binding="wsHttpBinding" bindingConfiguration="OdisWcfService_WsHttp" contract="OdisManagementWcfService.IOdisManagementService" name="OdisManagementService_WsHttp">
        <identity>
          <userPrincipalName value="ODG\odis.service@odg.local" />
        </identity>
      </endpoint>
      <endpoint address="http://de-svr-v064:18090/OdisImportService/" binding="wsHttpBinding" bindingConfiguration="OdisWcfService_WsHttp" contract="OdisImportWcfService.IOdisImportService" name="OdisImportService_WsHttp">
        <identity>
          <userPrincipalName value="ODG\odis.service@odg.local" />
        </identity>
      </endpoint>
      <endpoint address="http://de-svr-v064:18090/OdisDonationService/" binding="wsHttpBinding" bindingConfiguration="OdisWcfService_WsHttp" contract="OdisDonationWcfService.IOdisDonationService" name="OdisDonationService_WsHttp">
        <identity>
          <userPrincipalName value="ODG\odis.service@odg.local" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://de-svr-v064:8200/LogItService" binding="netTcpBinding" bindingConfiguration="OdisWcfService_Tcp" contract="LogItWcfService.ILogItService" name="LogItService_Tcp">
        <identity>
          <userPrincipalName value="ODG\odis.service@odg.local" />
        </identity>
      </endpoint>
      <endpoint address="http://de-svr-v064:7290/LogItService/" binding="wsHttpBinding" bindingConfiguration="OdisWcfService_WsHttp" contract="LogItWcfService.ILogItService" name="LogItService_WsHttp">
        <identity>
          <userPrincipalName value="ODG\odis.service@odg.local" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://de-svr-v064:19200/OdisMailingService" binding="netTcpBinding" bindingConfiguration="OdisWcfService_Tcp" contract="OdisMailingWcfService.IOdisMailingService" name="OdisMailingService_Tcp">
        <identity>
          <userPrincipalName value="ODG\odis.service@odg.local" />
        </identity>
      </endpoint>
      <endpoint address="http://de-svr-v064:18290/OdisMailingService/" binding="wsHttpBinding" bindingConfiguration="OdisWcfService_WsHttp" contract="OdisMailingWcfService.IOdisMailingService" name="OdisMailingService_WsHttp">
        <identity>
          <userPrincipalName value="ODG\odis.service@odg.local" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
  <applicationSettings>
    <Odis.Client.ServerApi.Properties.Settings>
      <setting name="ShowErrors" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LogLevel" serializeAs="String">
        <value>debug</value>
      </setting>
      <setting name="StartOdis2" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TraceAllMethods" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DebugMode" serializeAs="String">
        <value>False</value>
      </setting>
    </Odis.Client.ServerApi.Properties.Settings>
    <Odis.AppService.Common.Properties.Settings>
      <setting name="TraceAllMethods" serializeAs="String">
        <value>False</value>
      </setting>
    </Odis.AppService.Common.Properties.Settings>
  </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="PostSharp" publicKeyToken="b13fd38b8f9c99d7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.21.0" newVersion="4.2.21.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="PostSharp.Patterns.Threading" publicKeyToken="e7f631e6ce13f078" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.42.0" newVersion="4.0.42.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="PostSharp.Patterns.Model" publicKeyToken="e7f631e6ce13f078" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.21.0" newVersion="4.2.21.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
